<!DOCTYPE html>
<html>
    <head>
        {% load static%} <!--codigo dtl -->
        <link href="{% static 'estilo.css' %}"rel="stylesheet"/>
        <!--<link href="shortcut icon" href="./images/favicon-32x32.png" type="image/x-icon"> -->
        
    </head>

    <body background="https://www.maestrosdelweb.com/images/2009/08/crayones_gif.gif">
        <h1>Bienvenidos a Fraction Odyssey</h1>
        <form action= "proceso" method="POST">
            {% csrf_token %}<!--mecanismos de seguridad-->
            <input type="text" name="nombre"/>
            <input type="submit"/>

        </form> <!--cuadno se contruñe un formulario se le pide algo al ususario -->
        

    </body>
</html>